/*----------------------------------------
TELA BATALHA
-------------------------------------------*/
#TelaBatalha {
  width: 100%; height: 100%;
  background-color: #000000;
  display: grid;
  grid-template-rows: 12% 67% 6% 15%;
}
/*=========================================
 		Parte do Perfil do inimigo
==========================================*/
#RowInimigo{
  grid-row: 1;
  width: 100%; height: 100%;
  background-color: #792d2d;
	display: grid;
	grid-template-columns: 35% 65%;
}
#BoxPerfilBot {
	width: 100%; height: 100%;
	grid-column: 1;
	background-color: #e7ebf9;
	display: grid;
	grid-template-rows: 80% 20%;
}
#IconBoxBot {
	width: 100%; height: 100%;
  grid-row: 1;
	background-image: url('/Imagens/GIcon.png');
	background-size: cover;
}
#barHPBot {
	width: 100%; height: 100%;
  grid-row: 2;
  background-color: #993142;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: clamp(1rem, 3.5vw, 1.2rem);
  color: white;
  -webkit-text-stroke: 1px black;
}

#BoxCartasBot {
	width: 100%; height: 100%;
	grid-column: 2;
	background-color: #5a6177;
}

/*=========================================
 		Parte do tabuleiro/meio da tela
==========================================*/
#RowTabuleiro{
  grid-row: 2;
  width: 100%; height: 100%;
  display: grid;
	padding: 1%;
  grid-template-rows: 49% 2% 49%;
}
#PosicoesEnemy {
  width: 100%; height: 100%;
  grid-row: 1; display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%; padding-left: 2%; padding-right: 2%;
}
#Bar {
  width: 100%; height: 100%;
  grid-row: 2;
  background-color: #333;
}
#PosicoesAliado {
  width: 100%; height: 100%;
  grid-row: 3;
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2%; padding-left: 2%; padding-right: 2%;
}

.PosiçõesT {
  width: 100%; height: 100%;
  background-color: #d06c6c;
  border: 2px solid hwb(59 54% 24%);
	background-size: contain;
	background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated; 
  image-rendering: crisp-edges;
}
#PosicaoT1{ grid-row: 1; grid-column: 1; }
#PosicaoT2{ grid-row: 1; grid-column: 2; }
#PosicaoT3{ grid-row: 1; grid-column: 3; }
#PosicaoT4{ grid-row: 2; grid-column: 1; }
#PosicaoT5{ grid-row: 2; grid-column: 2; }
#PosicaoT6{ grid-row: 2; grid-column: 3; }

#PosicaoTP1{ grid-row: 1; grid-column: 1; }
#PosicaoTP2{ grid-row: 1; grid-column: 2; }
#PosicaoTP3{ grid-row: 1; grid-column: 3; }
#PosicaoTP4{ grid-row: 2; grid-column: 1; }
#PosicaoTP5{ grid-row: 2; grid-column: 2; }
#PosicaoTP6{ grid-row: 2; grid-column: 3; }

/*=========================================
   ULTIMA ROW DA TELA A PARTE DAS CARTAS NA MAO 
==========================================*/
#RowPlayer{
  grid-row: 4;
  width: 100%; height: 100%;
  background-color: #5a6177;
	display: flex;
	flex-direction: row;
	gap: 1%; padding: 1%;
}
.CardsSlots {
	width: 100%; height: 100%;
	background-size: contain;
}

.CardSelecionado {
	transform: scale(1.05);
	background-size: contain;
}

/*=========================================
  BOX DAS INFOS EM GERAL 
==========================================*/
#BoxInfos {
  grid-row: 3;
  width: 100%; height: 100%;
  display: grid;
	align-items: end;
  grid-template-columns: 17% 40% 25% 18%;
  gap: 0.1%; padding: 1%;
  background-color: #1a1a1a;
}
.Xx {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: clamp(1.3rem, 3vw, 2rem);
}
#BoxEnergia {
  width: 100%; height: 100%;
  grid-column: 1;
	border: 2px solid hwb(59 54% 24%);
  border-radius: 20% 20% 0 0;
	font-size: clamp(2rem, 3vw, 3rem);
	background-color: #01a9d3;
}
#BoxTurno {
  width: 100%; height: 80%;
  grid-column: 2;
	border: 2px solid hwb(59 54% 24%);
}
#BoxTime {
  width: 100%; height: 80%;
  grid-column: 3;
	border: 2px solid hwb(59 54% 24%);
}
#BoxReinicarMao {
	width: 100%; height: 80%;
  grid-column: 4;
	border: 2px solid hwb(59 54% 24%);
}